.convertion-box{
    border: 1px solid black;
    width: 80vw;
    height: 40vh;
    margin-top: 15vh;
    margin-left: 10vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(245, 243, 240);
    border-radius: 1vh;
    
}
.arrows{
    position: absolute;
    margin-top: 15vh;
    color: green;

}
